In [12]:
import pandas as pd

In [15]:
restaurants = pd.read_csv('DOHMH_New_York_City_Restaurant_Inspection_Results.csv')
rats = pd.read_csv("Rat_Sightings.csv")

In [51]:
restaurants.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE
0,40511702,NOTARO RESTAURANT,MANHATTAN,635,SECOND AVENUE,10016.0,2126863400,Italian,06/15/2015,Violations were cited in the following area(s).,02B,Hot food item not held at or above 140Âº F.,Critical,30.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection
1,40511702,NOTARO RESTAURANT,MANHATTAN,635,SECOND AVENUE,10016.0,2126863400,Italian,11/25/2014,Violations were cited in the following area(s).,20F,Current letter grade card not posted.,Not Critical,NaN,NaN,NaN,08/28/2017,Administrative Miscellaneous / Initial Inspection
2,50046354,VITE BAR,QUEENS,2507,BROADWAY,11106.0,3478134702,Italian,10/03/2016,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,Not Critical,2.0,NaN,NaN,08/28/2017,Pre-permit (Operational) / Initial Inspection
3,50061389,TACK'S CHINESE TAKE OUT,STATEN ISLAND,11C,HOLDEN BLVD,10314.0,7189839854,Chinese,05/17/2017,Violations were cited in the following area(s).,02G,Cold food item held above 41Âº F (smoked fish ...,Critical,46.0,NaN,NaN,08/28/2017,Pre-permit (Operational) / Initial Inspection
4,41516263,NO QUARTER,BROOKLYN,8015,5 AVENUE,11209.0,7187019180,American,03/30/2017,Violations were cited in the following area(s).,04M,Live roaches present in facility's food and/or...,Critical,18.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection

In [53]:
count_violations = restaurants.groupby("CAMIS", as_index = False).count()

#count_violantions = count_violations["VIOLATION CODE"]
pd.DataFrame(count_violantions)

                            VIOLATION CODE
DBA
#1 Chinese Restaurant                    3
#1 GARDEN CHINESE                       27
#1 Natural Juice Bar                     6
#1 SABOR LATINO RESTAURANT              55
$1 PIZZA                                 8
...                                    ...
re.union                                14
souvlaki square                          0
taci's beyti restaurant                  9
the crown                                0
tutto il giorno                         12

[20936 rows x 1 columns]

In [50]:
restaurants.pivot("DBA","ZIPCODE")

ValueError: Index contains duplicate entries, cannot reshape

In [17]:
restaurants["DBA"].nunique()

20936

In [18]:
len(restaurants["DBA"])

399918